{% exdents 'base.html' %}
{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <h3>Resultado da Triagem</h3>
        <p class="fs-5">Paciente: <strong>{{ triagem.paciente_nome }}</strong></p>
        <p>Hora: {{ triagem.timestamp }}</p>
        <div class="mt_3">
            {% if triagem_cor == 'vermelho' %}
                <span class="badge bg-danger badge-level"><i class="bi bi-circle-fill"></i>Emergência</span>
            {% elif triagem_cor == 'laranja' %}
                <span class="badge bg-warning text-dark badge-level"><i class="bi bi-circle-fill"></i>Muito Urgente</span>
            {% elif triagem_cor == 'amarelo' %}
                <span class="badge bg-warning badge-level"><i class="bi bi-circle-fill"></i>Urgente</span>
            {% else %}
                <span class="badge bg-success badge-level"><i class="bi bi-circle-fill"></i>Pouco Urgente</span>
            {% endif %}
        </div>
        <div class="mt-3">
            <p><strong>Observação:</strong> {{ triagem.texto }}</p>
        </div>
        <div class="mt-4">
            <button class="btn btn-outline-secondary" onclick="window.print()">Imprimir comprovante</button>
            <a href="{{ url_for('index') }}" class=" btn btn-primary">Nova triagem</a>
            <a href="{{ url_for('relatorio') }}" class="btn btn-secondary">Ir para Relatório</a>
        </div>
    </div>
</div>
{% endblock %}